<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout1.html}"
      lang="en">

<div layout:fragment="content">
<!--    <form action="/board/register" method="post">-->
    <div class="mb-3 mt-3">
        <label for="bno" class="form-label">Bno:</label>
        <div>[[${board.bno}]]</div>
        <input type="text" class="form-control" id="bno" th:value="${board.bno}" name="title">
    </div>
        <div class="mb-3 mt-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" th:value="${board.title}" name="title">
        </div>
        <div class="mb-3 mt-3">
            <label for="content">Content:</label>
            <textarea class="form-control" rows="5" id="content" name="content">[[${board.content}]]</textarea>
        </div>
        <div class="mb-3 mt-3">
            <label for="writer" class="form-label">Writer:</label>
            <input type="text" class="form-control" id="writer" th:value="${board.writer}" name="writer">
        </div>
        <div class="mb-3 mt-3">
            <label for="visitcount" class="form-label">VisitCount:</label>
            <input type="text" class="form-control" id="visitcount" th:value="${board.visitcount}" name="writer">
        </div>
        <div class="mb-3 mt-3">
            <label for="postdate" class="form-label">PostDate:</label>
            <input type="text" class="form-control" id="postdate" th:value="${board.postdate}" name="writer">
        </div>
        <button type="button" class="btn btn-primary">modify</button>
        <button type="button" class="btn btn-secondary">remove</button>
        <button type="button" class="btn btn-info">list</button>
<!--    </form>-->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            let bno=[[${board.bno}]]
            console.log("bno!!!:"+bno)
            $(".btn-primary").click(function (){
                self.location="/board/modify?bno="+bno
            })
            $(".btn-secondary").click(function (){
                self.location="/board/remove?bno="+bno
            })
            $(".btn-info").click(function (){
                self.location="/board/list"
            })
        </script>
    </th:block>
</div>
