<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:with="num1=${10}, num2=${20}">
    <h4 th:text="${num1+num2}"></h4>
</div>

<ul>
    <li th:each="str, status:${list}">
        <span th:if="${status.odd}">ODD--[[${str}]]</span>
        <span th:unless="${status.odd}">EVEN--[[${str}]]</span>
    </li>
</ul>

<!--/*주석*/-->
<h2>[[${list}]]</h2>
<hr>
<h2 th:text="${list}"></h2>

<a href="/hello">Go to hello</a>
<a th:href="@{/hello}">Go go hello</a>
</body>
</html>